In [2]:
import time
import numpy as np
import pygame
from tqdm.notebook import tqdm

def play_sound(duration):
    # Initialize pygame mixer
    pygame.mixer.init()
    # Generate a simple beep sound
    frequency = 440  # Frequency in Hertz (A4 note)
    sample_rate = 44100  # Samples per second
    t = np.linspace(0, duration, int(sample_rate * duration), endpoint=False)
    audio = np.sin(2 * np.pi * frequency * t)
    # Save the sound to a temporary file
    pygame.mixer.Sound(audio).play()
    time.sleep(duration)  # Wait for the sound to finish playing

def start_timer(seconds):
    min_sec(seconds)
    for i in tqdm(range(seconds), desc="Timer Progress"):
        time.sleep(1)
    play_sound(1)  # Play sound for 1 second
    print("Time's up!")

# Example usage
# start_timer(10)  # Start a timer for 10 seconds

def min_sec(t):
    minutes = t // 60
    seconds = t % 60
    print(f"{minutes:g} minutes, {seconds:.1f} seconds")

pygame 2.6.1 (SDL 2.28.4, Python 3.10.10)
Hello from the pygame community. https://www.pygame.org/contribute.html

In [3]:
# for production quests
total = 4.5e6
ratio = 1e-2
per_sec = 181
min_sec(total * ratio / per_sec)

4 minutes, 8.6 seconds

In [8]:
total = 366e9
ratio = 1e-2
per_sec = 6.19e6

min_sec(total * ratio / per_sec)

9 minutes, 51.3 seconds

In [9]:
cards = 40
subject = """TSQL"""

for i in range (1, cards+1):
    print(i)
    print(subject)
    print('\n'*5)

1
TSQL






2
TSQL






3
TSQL






4
TSQL






5
TSQL






6
TSQL






7
TSQL






8
TSQL






9
TSQL






10
TSQL






11
TSQL






12
TSQL






13
TSQL






14
TSQL






15
TSQL






16
TSQL






17
TSQL






18
TSQL






19
TSQL






20
TSQL






21
TSQL






22
TSQL






23
TSQL






24
TSQL






25
TSQL






26
TSQL






27
TSQL






28
TSQL






29
TSQL






30
TSQL






31
TSQL






32
TSQL






33
TSQL






34
TSQL






35
TSQL






36
TSQL






37
TSQL






38
TSQL






39
TSQL






40
TSQL

In [6]:
cards = 40
subject = """Azure Developer Associate"""

for i in range (1, cards+1):
    print(i)
    print(subject)
    print('\n'*5)

1
Azure Developer Associate






2
Azure Developer Associate






3
Azure Developer Associate






4
Azure Developer Associate






5
Azure Developer Associate






6
Azure Developer Associate






7
Azure Developer Associate






8
Azure Developer Associate






9
Azure Developer Associate






10
Azure Developer Associate






11
Azure Developer Associate






12
Azure Developer Associate






13
Azure Developer Associate






14
Azure Developer Associate






15
Azure Developer Associate






16
Azure Developer Associate






17
Azure Developer Associate






18
Azure Developer Associate






19
Azure Developer Associate






20
Azure Developer Associate






21
Azure Developer Associate






22
Azure Developer Associate






23
Azure Developer Associate






24
Azure Developer Associate






25
Azure Developer Associate






26
Azure Developer Associate






27
Azure Developer Associate






28
Azure Developer Associate






29
Azure Developer Associate






30
Azure Developer Associate






31
Azure Developer Associate






32
Azure Developer Associate






33
Azure Developer Associate






34
Azure Developer Associate






35
Azure Developer Associate






36
Azure Developer Associate






37
Azure Developer Associate






38
Azure Developer Associate






39
Azure Developer Associate






40
Azure Developer Associate

In [7]:
# import pandas as pd
# numbers = pd.Series([x for x in range(80)])
# drop_indecies = [x for x in range(0,21,3)]
# for i in range(4):
#     numbers = numbers[[x for x in range(len(numbers)) if x not in drop_indecies]]
#     numbers = numbers.reset_index(drop=True)
# numbers.values